body {
  background-color: aquamarine;
}
p {
  font-weight: bold;
}
#Container-1 {
  height: 20vh;
  background-color: blue;
  width: 30vh;
  font-weight: bold;
  font-size: 120%;
  border: 0.2rem solid black;
  margin: 0.2rem;
}
#Container-2 {
  height: 20vh;
  background-color: green;
  width: 30vh;
  font-weight: bold;
  font-size: 120%;
  border: 0.2rem solid black;
  margin: 0.2rem;
}
